<div class="container" ng-controller="JobController as ctrl"  ng-init="fetchAllJobApplications()"  >
<h2> Manage Job Application</h2>
<hr color= "blue" >   
  <table  class="table table-hover"  >
        <tr>      
       <td>User ID</td>
        <td>Job ID</td>
         <td>Applied Date</td>
       
       
        </tr>
           

             <tr ng-repeat="jobapplication in jobApplications"  ng-init="getByJobID(jobapplication.job_id)"    >
                
              <td  >
              {{jobapplication.user_id}}
              </td>
                 <td    >{{jobapplication.job_id}}</td>
                <td>{{jobapplication.dateApplied |date:"medium"}}</td>
              
                <td >
               <button type="button" 
			        ng-click="ctrl.callForInterview(jobapplication.user_id,jobapplication.job_id)" 
			       class="btn btn-info btn-sm">Make Call</button>
                </td>
              
            <td >
               <button type="button" 
			        ng-click="ctrl.rejectJobApplication(jobapplication.user_id,jobapplication.job_id)" 
			       class="btn btn-info btn-sm">Reject Call</button>
                </td>
              
              </tr>
        </table> 
  




</div>