  <div ng-show="currentUser">
   
      <div class="generic container" ng-controller="JobController as ctrl">
      
         <form ng-submit="ctrl.submit()" name="myForm"
						class="form-horizontal">

					<center><label> post the Job details</label></center>
						     <div id="legend">
                                  <legend class=""><center>Job Details</center></legend>
                             </div>
						
						

						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="title">Title</label>
								<div class="col-md-7">
									<input type="text" ng-model="job.title" id="title"
										class="username form-control input-sm"
										placeholder="Enter your title" required ng-minlength="3" />
								</div>
							</div>
						</div>


                      <div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="description">Description</label>
								<div class="col-md-7">
									<input type="description" ng-model="job.description" id="description"
										class="email form-control input-sm"
										placeholder="Enter your Job Description" required />

								</div>
							</div>
						</div>
						
						
						
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="description">Qualification</label>
								<div class="col-md-7">
									<input type="description" ng-model="job.qualification" id="description"
										class="email form-control input-sm"
										placeholder="Enter your job Qualification" required />

								</div>
							</div>
						</div>
						
                       	<div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="Post Job"
									class="btn btn-primary btn-sm">
								
							</div>
						</div>
					</form>
  </div>
  </div>
  