<link rel="stylesheet"  type="text/css" href="resources/css/style5.css">

<div class="container" ng-controller="FriendController as ctrl">

	<p>
	<p>
	<p>
	<p>
	
	<p>
	<p>
	<p>
	<p>
	
	<div class="form-group has-feedback"></div>
	
	<form>
<div class="row">
							

							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="search"> Search </label>
								<div class="col-md-7">
									<input type="text" ng-model="sear_text" id="search"
										class="username form-control input-sm"
										placeholder="Enter your Friend Name" required ng-minlength="3" />
								</div>
							</div>
						</div>

 
 </form>

 

	<div ng-repeat="user in ctrl.users | filter: sear_text">

		<fieldset>
			<legend></legend>
			
			<!-- <p>Online ?: {{user.isOnline}}   -->

			<p>ID: {{user.id}} &nbsp; &nbsp;&nbsp; Name: {{user.name}}
			    &nbsp; &nbsp;&nbsp; 
			    
			     <button type="button" 
			        ng-click="ctrl.sendFriendRequest(user.id)" 
			       class="btn btn-info btn-sm">Send Friend Request</button>
			  </p>

			<p>Email: {{user.email}} &nbsp; &nbsp;&nbsp; Mobile:{{user.mobile}}</p>

			<p> Address:{{user.address}} &nbsp; &nbsp;&nbsp; Role :{{user.role}}</p>
		</fieldset>
	</div>


</div>


