
<div>
 
    <div ng-if="!currentUser">
      <div class="alert alert-danger fade in">
         <div>you are not logged in... please login <a href="#/login">here</a>
         to Apply Job
         </div>
       
       <div> if U are not Register....then<a href="#/register">Register here</a>
       </div>
     </div>
   </div>    
   

<div ng-show="currentUser">
<div class="container"  ng-controller="JobController as ctrl">

		
	<div class="form-group has-feedback" ng-init="fetchAllJobs()">
	

<form>
   <div class="row">
							

							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="search"> Search </label>
								<div class="col-md-7">
									<input type="text" ng-model="sear_Job" id="search"
										class="username form-control input-sm"
										placeholder="Enter your Job Title" required ng-minlength="3" />
								</div>
							</div>
</div>

 
 </form>

<div ng-repeat="job in jobs | filter: sear_Job">

		<fieldset>
			<legend>Job Details</legend>
			
			<!-- <p>Online ?: {{user.isOnline}}   -->

			<p>Name Of Job: {{job.title}} &nbsp; &nbsp;&nbsp; Post Date: {{job.date_time| date:fullDate}}
			    &nbsp; &nbsp;&nbsp;Status: {{job.status}}&nbsp; &nbsp;&nbsp;Qualification: {{job.qualification}}&nbsp; &nbsp;&nbsp;
			    Description: {{job.description}}
			  
			    <div ng-show="currentUser.role=='student'">
			     <button type="button" 
			        ng-click="ctrl.applyJob(job.id)" 
			       class="btn btn-info btn-sm">Apply For Job</button>
			      </div> 
			      
			      <div ng-show="currentUser.role=='Admin'">
			     <button type="button" 
			        ng-click="ctrl.updateJob(job.id)" 
			       class="btn btn-info btn-sm">Closed</button>
			      </div> 
			 
			 </p>  

			
		</fieldset>
	</div>
</div>

</div>
</div>
</div>