
<div>
<div ng-if="!currentUser">
      <div class="alert alert-danger fade in">
         <div>you are not logged in... please login <a href="#/login">here</a>
         to Apply Job
         </div>
       
       <div> if U are not Register....then<a href="#/register">Register here</a>
       </div>
     </div>
   </div>    
   

<div ng-show="currentUser">



<div class="container" ng-controller="JobController as ctrl" ng-init="ctrl.getAppliedJobs(currentUser.id)"  >
 <h2> Applied Job</h2>
<hr color= "blue" >   
  
  
  <table  class="table table-hover"  >
        <tr>
        
       <td>Title</td>
        <td>Status</td>
         <td>Description</td>
        <td>Date Applied</td>
       
        </tr>
           <tr ng-repeat="ajob in appliedJobs"  ng-init="getByJobID(ajob.job_id)" >
           

            
              <td  >
              {{job.title}}
              </td>
               <td>{{job.status}}</td>
                <td>{{job.description}}</td>
              
              <td >
               {{ajob.dateApplied | date:"medium"}}
              </td>
             
            
              </td>
              </tr>  
        </table> 
  
  
   
  </div>  
 </div>    