
  <div class="container" ng-controller="BlogController as ctrl"  >  
<h2>Welcome to Blogs</h2>
<hr color= "blue" >

    

     <table class="table table-hover"  >
        <tr>
        <td>TITLE </td>
        <td>Author</td>
        <td>Created Date</td>
         <td>Description</td>
        </tr>
           <tr >
           

              <td >
              {{selectedBlog.title}} 
              </td>
              
              <td ng-controller="UserController" ng-init="getByID(selectedBlog.user_id)">
               {{user.name}}  
              </td>
              <td >
              {{selectedBlog.date_time | date:"medium"}}
              </td>
              
               <td >
              {{selectedBlog.description}}
              </td>
              </tr>  
        </table> 
        
       

                <!-- Blog Comments -->


			
                <!-- Comments Form -->
                <!-- display only if use is authenticated -->
                
	                <div class="well"  ng-show="currentUser"  >
	                    <h4>Leave a Comment:</h4>
	                    <form ng-submit="ctrl.createComment()" >
	                        <div class="form-group">
	                            <textarea class="form-control" rows="3" ng-model="ctrl.comment.content" name="content"></textarea>
	                           
	                        </div>
	                        <button type="submit" class="btn btn-primary">Submit</button>
	                    </form>
	                </div>     
	                <hr>           
                
                 
                	<div ng-controller="UserController" ng-show="!currentUser">
                	
	                	<p class="pull-right"><a href="#create_blog">Login | Sign Up</a> to comment!</p>
                	
               		</div>
              
                
                 <!-- Posted Comments -->
				<h4>Comments</h4>
				<hr>
                <!-- Comment -->
                <div ng-init="ctrl.fetchAllComments(selectedBlog.id)" >
                <div class="media" ng-repeat="comment in comments" >
                    <div class="media-body" ng-controller="UserController"  ng-init="getByID(comment.user_id)">
                        <h4 class="media-heading">{{user.name}} 
                            <small>{{comment.commentedAt | date:"medium"}}</small>
                        </h4>
                        {{comment.content}}
                    </div>
                </div>
                </div>
                
                </div>